h1 {
    color: white;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    background-color:#e7b8ef;
   }
p {
    font-family: 'Roboto Condensed', sans-serif;
}
p {
    color: black;
}
   
h2 {
    font-family: 'Rubik', sans-serif;
}
h2 {
    color:white;
}
h2 {
    background-color: #e7b8ef;
}
body {
    background-color:  #f4cdc8;
}
li {
    font-family: 'Josefin Sans', sans-serif;
}
h2{
    color: white;
} 
h2 {
    font-family:'Rubik', sans-serif;
}
h2 {
    background-color:  #e7b8ef;
}
h2 { 
    font-family: 'Rubik', sans-serif;
    }
h2 { 
    color: white;
}
h2 {
     background-color:  #e7b8ef;
}





    
